@{
    ViewBag.Title = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">SignalR Client</h1>
</div>
<script>
    (function () {

    })();
</script>

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/mqtt.js"></script>
