@{
    ViewBag.Title = "MQTT Web";
}

<div class="text-center">
    <h1 class="display-4">Welcome to MQTT Web</h1>
	<p>
		.NET Core Hoster Service MQTT consumer and web socket clients for Fleck and SignalR.
	</p>
</div>
