<div class="row">
    <div class="col-md-12">
        <h4>
            <span class="badge badge-danger"> signal < 15</span>
            <span class="badge badge-warning"> 15 < signal <= 30 </span>
            <span class="badge badge-success"> signal > 30 </span>
        </h4>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table id="signal-table" class="table table-dark">
            <thead>
                <tr>
                    <th>Date and Time</th>
                    <th>Signal Value</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>