@{
    ViewBag.Title = "SignalR Socket Client";
}

<div class="text-center">
    <h1 class="display-4">SignalR Socket Client</h1>
    <partial name="_signalTable" />
</div>
<script>
    (function () {

    })();
</script>

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/mqtt.js"></script>
